<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userLayout}">
<head>
    <title layout:fragment="title">Update Password</title>
</head>
<body>
<main layout:fragment="content">
    <article>
        <h1>Update Password</h1>
        <form action="/update-password" th:object="${user}" method="post">
            Password: <input type="password" th:field="*{password}"/>
            <input type="submit" value="Submit"/>
            <a role="button" href="/">Cancel</a>
        </form>
    </article>
</main>
</body>
</html>